<%= render 'layouts/navbar' %>
<div class="container mt-3 mb-5">
  <h1 class="text-center mb-5">トレーニング入力フォーム</h1>

  <%= form_for @plactice, url: plactices_path do |f| %>
    <div class="col-md-6 mx-auto mb-5">
      <div class="mb-3">
       <%= f.label :name, class: 'form-label border-start border-primary border-4 ps-1' %>
       <%= f.text_field :name, size: 40, placeholder: 'サンプル', class: 'form-control' %>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto"> 
      <%= f.button '登録', class: 'btn btn-lg btn-primary' %>
    </div>

  <% end %>

</div>
 <%= render 'layouts/footer' %>